.stepperBox {
  width: 100%;
  position: relative;
  .firstCircleBor {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleShadow 3s infinite alternate 0.5s;
    .innerColorBlack {
      background-color: #000;
      height: 29px;
      width: 29px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .insiderWhite {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  .roundedRotate1 {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 3px dashed #000;
    border-radius: 50%;
    animation: rotateAuto 5s linear infinite;
  }
  .line1 {
    position: absolute;
    left: 42px;
    border: 3px solid #000;
    width: 100px;
    // height: 5px;
  }
  .secondCircleBor {
    position: absolute;
    left: 145px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleShadow 3s infinite alternate 1s;
    .innerColorBlack {
      background-color: #000;
      height: 29px;
      width: 29px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .insiderWhite {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  .roundedRotate2 {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 3px dashed #000;
    border-radius: 50%;
    animation: rotateAuto 5s linear infinite;
  }
  .line2 {
    position: absolute;
    left: 43px;
    border: 3px solid #000;
    width: 100px;
    // height: 5px;
  }
  .thirdCircleBor {
    position: absolute;
    left: 291px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleShadow 3s infinite alternate 1.5s;
    .innerColorBlack {
      background-color: #000;
      height: 29px;
      width: 29px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .insiderWhite {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  .roundedRotate3 {
    position: absolute;
    left: 291px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px dashed #000;
    animation: rotateAuto 5s linear infinite;
  }
  .line3 {
    position: absolute;
    left: 43px;
    border: 3px solid #000;
    width: 100px;
    // height: 5px;
  }
  .fouthCircleBor {
    position: absolute;
    left: 437px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleShadow 3s infinite alternate 1.5s;
    .innerColorBlack {
      background-color: #000;
      height: 29px;
      width: 29px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .insiderWhite {
        color: #fff;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
  .roundedRotate4 {
    position: absolute;
    left: 437px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px dashed #000;
    animation: rotateAuto 5s linear infinite;
  }
}

@keyframes circleShadow {
  0% {
    box-shadow: 0 0 5px rgba(83, 82, 82, 09);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  }
}

@keyframes rotateAuto {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
